@charset "UTF-8";

html,
body {
    font-family: "Noto Sans", Helvetica, AppleSDGothicNeo, Dotum, sans-serif;
    height: 100%;
    margin: 0;
}

.header-area {
    width: 100%;
    margin-top: 0;
    height: 50px;
    background-color: greenyellow;
}

.annotation-toggle {
    font-size: 15pt;
}

.annotation-layer {
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: aqua;
    z-index: 17;
}

.marker-layer {
    position: absolute;
    width: 1500px;
    height: 1500px;
    background-color: orange;
    z-index: 15;
}

.tmp-marker-svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 1500px;
    height: 1500px;
    z-index: 16;
    touch-action: none; // 어노테이션모드에서 스크롤을 막기 위하여 설정
  }

